<ion-view style="" class=" " id="page1" title="Mapa">
  <ion-content class="has-header" padding="true">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <input type="search" placeholder="Search" id="text-buscador">
      </label>
      <button class="button" id="but-buscar" ng-click="showPopup()">
        <i class="icon ion-ios-search placeholder-icon"></i>
      </button>
      <div class=" item-input-inset">
        <a class="button button-inline icon-center ion-navicon button-balanced"></a>
      </div>
    </div>

    <div id="map" data-tap-disabled="true"></div>
  </ion-content>

</ion-view>
